{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    {% if new_sox %}
        New SOX
    {% elif update_sox %}
        Update SOX | {{current_sox.folio_number}}
    {% endif %}
{% endblock %}

{% block extracss %}
    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                {{error.field}}
                <div class="alert alert-danger">
                    {{error|escape}}.
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-danger">
                {{message}}.
            </div>
        {% endfor %}
    {% endif %}

    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            {% if new_sox %}
                                <h5>New <small>SOX Reg</small></h5>
                            {% elif update_sox %}
                                <h5>Update current <small>SOXReg</small></h5>
                            {% endif %}

                        </div>

                        <div class="ibox-content">
                            <form id="sox_form" method="post" class="form-horizontal">{% csrf_token %}

                                <div class="form-group"><label class="col-sm-2 control-label">Folio</label>

                                    <div class="col-sm-10">
                                        {{ form.folio_number }}
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Application </label>

                                    <div class="col-sm-10">
                                        {#{{ form.application }}#}
                                        <select id="sox_apps" name="application" class="form-control">
                                            {% for a in sox_applications %}
                                                <option value="{{a.id}}">{{a.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label"> Request Type</label>

                                    <div class="col-sm-10">
                                        {{ form.request_type }}
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Affected User </label>

                                    <div class="col-sm-10">
                                        {{ form.affected_user }}
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">Executor </label>

                                    <div class="col-sm-10">
                                        {#{{ form.executor }}#}
                                        <select name="executor" class="form-control">
                                            {% for e in executor %}
                                                <option value="{{e.id}}">{{e.username}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Execution Date </label>
                                    <div class="col-sm-10" >

                                        <div id="data_1" class="input-group date">
                                            <span class="input-group-addon">
                                               <i class="fa fa-calendar"></i>
                                            </span>
                                            {{ form.execution_date }}
                                            <input type="hidden" name="date_1" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">Status </label>

                                    <div class="col-sm-10">
                                        {{ form.status }}
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">Sent email to Executor </label>

                                    <div class="col-sm-10">
                                        {{ form.sent_email_to_exec }}
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">Confirmed by Executor </label>

                                    <div class="col-sm-10">
                                        {{ form.confirmed_by_exec }}
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">Executor Confirmed Date </label>
                                    <div class="col-sm-10" >

                                        <div id="data_2" class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            {{ form.exec_confirmed_date }}
                                            <input type="hidden" name="date_2" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">1st Source </label>

                                    <div class="col-sm-10">
                                        {{ form.first_source }}
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">1st Source Date </label>
                                    <div class="col-sm-10" >

                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                            </span>
                                            {{ form.first_source_date }}
                                            <input type="hidden" name="date_3" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">1st Source Executor </label>

                                    <div class="col-sm-10">
                                        {#{{ form.first_source_executor }}#}
                                        <select name="first_source_executor" class="form-control">
                                            {% for e in 1st_2nd_source_executor %}
                                                <option value="{{e.id}}">{{e.username}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">2nd Source </label>

                                    <div class="col-sm-10">
                                        {{ form.second_source }}
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">2nd Source Executor </label>

                                    <div class="col-sm-10">
                                        {#{{ form.second_source_executor }}#}
                                        <select name="second_source_executor" class="form-control">
                                            {% for e in 1st_2nd_source_executor %}
                                                <option value="{{e.id}}">{{e.username}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">2nd Source Date </label>
                                    <div class="col-sm-10" >

                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                            </span>
                                            {{ form.second_source_date }}
                                            <input type="hidden" name="date_4" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <a class="btn btn-white" type="button" href="{% url 'sox:list' %}">Cancel</a>
                                        <button id="btn_submit" class="btn btn-primary" type="submit">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

    <script>

        //Inspinia Datpicker
        var exec_date = $('#id_execution_date');
        var exec_conf_date = $('#id_exec_confirmed_date');
        var frst_source_date = $('#id_first_source_date');
        var scnd_source_date = $('#id_second_source_date');

        var s_app = $('#sox_apps');
        s_app.select2();

        exec_date.prop('disabled', true);
        exec_conf_date.prop('disabled', true);
        frst_source_date.prop('disabled', true);
        scnd_source_date.prop('disabled', true);

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            enableOnReadonly: true,
            setDate: new Date(),
        });

        var date_1;
        var date_2;
        var date_3;
        var date_4;

        $('#id_execution_date').on('change', function(){
            //console.log($(this).val());
            date_1 = $(this).val();
        });
        $('#id_exec_confirmed_date').on('change', function(){
            //console.log($(this).val());
            date_2 = $(this).val();
        });
        $('#id_first_source_date').on('change', function(){
            //console.log($(this).val());
            date_3 = $(this).val();
        });
        $('#id_second_source_date').on('change', function(){
            //console.log($(this).val());
            date_4 = $(this).val();
        });


        $(document).ready(function(){
           var s_app = $('#id_application');

           s_app.select2();

           /*$('#btn_submit').click(function(){
               $(this).prop('disabled', true);
           });*/

        });
    </script>
{% endblock %}
