{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Bajas Semanales
{% endblock %}

{% block extracss %}
  <!-- FooTable -->
  <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
  <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Widgets</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Widgets</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Get Active <small>Zendesk Useres</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                      <a data-toggle="modal" class="btn btn-primary" href="#modal-form">Form in simple modal box</a>
                    </div>
                </div>
            </div>
          </div>

        <div class="col-lg-2">
            <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-users fa-4x"></i>
                    <h1 class="m-xs">1234</h1>
                    <h3 class="font-bold no-margins">
                        Active
                    </h3>
                    <small>users</small>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-shield fa-4x"></i>
                    <h1 class="m-xs">1234</h1>
                    <h3 class="font-bold no-margins">
                        Active
                    </h3>
                    <small>Agents</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-gear fa-4x"></i>
                    <h1 class="m-xs">1234</h1>
                    <h3 class="font-bold no-margins">
                        Active
                    </h3>
                    <small>Admins</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-user-o fa-4x"></i>
                    <h1 class="m-xs">1234</h1>
                    <h3 class="font-bold no-margins">
                        End
                    </h3>
                    <small>Users</small>
                </div>
            </div>
        </div>
      </div>

    </div>

{% endblock %}

{% block extrajs %}
    <!-- FooTable -->
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>
    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <script>

        $(document).ready(function(){

          var btn_update = $('.btn-update');

          var modal_update = $('#modal_update');
          var modal_title = $('#modal_title');
          var modal_little_desc = $('#modal_little_desc');
          var modal_body = $('#modal_body');
          var btn_modal_save = $('#btn_modal_save');

          var s_type = $('#s_type');
          var subject_input = $('#subject_input');
          var user_code_input = $('#user_code_input');
          var user_name_input = $('#user_name_input');
          var request_date_input = $('#request_date_input');
          var s_app = $('#s_application');


          //---FILTER ATTR FDIELD DEFINITIONS---
          $('#id_type').addClass('form-control');
          $('#id_subject').addClass('form-control');
          $('#id_subject').attr('placeholder', 'Subject');
          $('#id_user_code').addClass('form-control');
          $('#id_user_code').attr('placeholder', 'User ID');
          $('#id_user_name').addClass('form-control');
          $('#id_user_name').attr('placeholder', 'Name');
          $('#id_request_date').addClass('form-control');
          $('#id_created_date').addClass('form-control');
          $('#id_already_checked').addClass('form-control');
          $('#id_already_checked').attr('placeholder', 'User ID');


          $('#id_already_checked').select2(
            {
              allowClear: true,
              placeholder: 'Already checked'
            });
            $('#id_type').select2(
              {
                allowClear: true,
                placeholder: 'Type'
              });
          //---FILTER ATTR FDIELD DEFINITIONS---


          //GET BAJASEMANAL IN MODAL
          btn_update.on('click', function(){
            var id = $(this).data("id");
            //Passing id record to Save Changes modal btn for post method.
            btn_modal_save.data('id', id)

            $.ajax({
              url: "{% url 'bajas-semanales-api-v1:recheck_baja' %}",
              dataType: 'json',
              method: 'get',
              data: {
                "id": id
              },
              success: function(data){
                if(data.success){

                  $.each(data.baja_semanal, function(index, item){
                    modal_title.empty().html(item.type);
                    modal_little_desc.empty().html(item.subject);


                    subject_input.empty().val(item.subject);
                    user_code_input.empty().val(item.user_code);
                    user_name_input.empty().val(item.user_name);
                    request_date_input.empty().val(item.request_date);
                  });

                  s_type.empty();
                  $.each(data.tipo_bajas, function(index, item){
                    if(item.selected == true){
                      s_type.append('<option value="'+ item.id +'" selected="selected">'+ item.text +'</option>');
                    } else {
                      s_type.append('<option value="'+ item.id +'">'+ item.text +'</option>');
                    }
                  });
                  //NO TRABAJA CORRECTAMENTE CARGANDOLE EL SELECT2
                  //s_type.empty().trigger('change');
                  /*$.map(data.tipo_bajas, function(obj){
                    if(obj.selected == true){
                      var newOption = new Option(obj.text, obj.id, true, true);
                      console.log(obj.text, ' - ', newOption);
                      s_type.append(newOption).trigger('change');
                    } else {
                      var newOption = new Option(obj.text, obj.id, false, false);
                      console.log('Else: ', obj, ' - ', newOption);
                      s_app.append(newOption);
                    }
                  });*/

                  s_app.empty().trigger("change");
                  $.each(data.results, function(index, item){

                     if(item.selected == true){
                         var newOption = new Option(item.text, item.id, true, true);
                         s_app.append(newOption).trigger('change');
                     }
                     if(item.selected == false){
                       var newOption = new Option(item.text, item.id, false, false);
                       s_app.append(newOption);
                     }
                  });

                  modal_update.modal('show');
                } else {
                  console.log('Msg: ', data.message);
                }
              },
              error: function(data){
                console.log('Error to try to get recheck data modal: ', data);
              }
            });
          });

          modal_update.on('show.bs.modal', function() {
            s_app.select2({dropdownParent: modal_update});
            console.log('show');
          })
          modal_update.on('hidden.bs.modal', function() {
            s_app.select2('destroy');
          })

          //POST BAJASEMANAL IN MODAL
          btn_modal_save.click(function(e){

            e.preventDefault();
            $.ajax({
              url: "{% url 'bajas-semanales-api-v1:recheck_baja' %}",
              method: 'post',
              dataTye: 'json',
              data: {
                "id": $(this).data('id'),
                "type": s_type.val(),
                "subject": subject_input.val(),
                "user_code": user_code_input.val(),
                "user_name": user_name_input.val(),
                "request_date": request_date_input.val(),
                "application": s_app.val(),
              },
              beforeSend: function(xhr, settings) {
                  if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                      // Only send the token to relative URLs i.e. locally.
                      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                  }
              },
              success: function(data){
                if(data.success){
                  var txt = '';
                  if(data.current_detail_status == true) {
                    txt = data.already_checked
                  } else {
                    txt = data.updated
                  }
                  swal({
                      title: data.updated,
                      text: txt,
                      type: "success",
                      showConfirmButton: false,
                  });
                  setTimeout(function(data){
                    window.location.href="/bajas/list/";
                  }, 800);
                } else {
                  console.log('Error: ', data.message);
                }
              },
              error: function(data){
                console.log('Error: ', data);
              },
            });
            console.log('prevent modal');
          });


        });
    </script>
{% endblock %}
