{% if user.is_authenticated %}

    <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                    <a 
                    {% if not dashboard %}
                        href="{% url 'dashboard' %}" 
                    {% else %}
                        href="#" 
                    {% endif %}
                    class="navbar-brand">VOIRegistry</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {% if perms.ticket.create_ticket %}
                        {% if not new_ticket %}
                            <li class="active">
                                <a aria-expanded="false" role="button" 
                                    href="{% url 'ticket:new' %}"
                                > Add new ticket</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    
                    {% if perms.sox.view_sox_list or perms.sox.create_sox %}
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> SOX <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                {% if perms.sox.view_sox_list%}    
                                    {% if not sox_list %}
                                        <li>
                                            <a aria-expanded="false" role="button" href="{% url 'sox:list' %}">Sox List</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if perms.sox.create_sox %}
                                    {% if not new_sox %}
                                        <li>
                                            <a href="{% url 'sox:new' %}">Add new SOX registry</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    
                    {% if perms.application.view_application_list or perms.application.create_application or perms.application.view_applicant_list or perms.applicant.create_applicant %}
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Applications <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                {% if perms.application.view_application_list %}
                                    {% if not app_list %}
                                        <li><a href="{% url 'application:list' %}">Applications</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if perms.application.create_application %}
                                    {% if not new_app %}
                                        <li>
                                            <a href="{% url 'application:new' %}">Add new Application</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if perms.applicant.create_applicant %}
                                    {% if not new_applicant %}
                                        <li>
                                            <a aria-expanded="false" role="button" href="{% url 'applicant:new' %}"> Add new Applicant</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if user.is_superuser %}
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Users <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">User List</a></li>
                                {% if user_list %}
                                    <li>
                                        {% if not new_ticket or update_ticket %}
                                            <a href="{% url 'application:new' %}">Add new User</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Import/Export <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Users</a></li>
                                <li>
                                    <a href="#">Applications</a>
                                </li>
                                <li>
                                    <a href="#">Tickets</a>
                                </li>
                                <li>
                                    <a href="#">SOX Apps</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">
                            Welcome, 
                            <strong>
                            {% if user.username %}
                                {{ user.username}}.
                            {% elif user.first_name %}
                                {{ user.first_name}}.
                            {% endif %}
                            </strong>
                        </span>
                    </li>
                    Last login - 
                    {{user.last_login}}
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

{% endif %}