{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Extra Incident List
{% endblock %}

{% block extracss %}
  <!-- FooTable -->
  <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
  <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="container">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{message}}.
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInUp">
                        <div class="ibox-title">
                            <h5> Incidents List </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                              <div class="col-md-12">
                                <button id="search_btn" type="button" class="btn btn-outline btn-success">
                                  <i class="fa fa-search"></i>
                                </button>
                                <br><br><br>
                              </div>
                              <div id="div_form" class="col-sm-12 m-b-xs" style="display:none">
                                <form id="search_form" action="/extra_incidents/list/" method=GET>
                                  <div class="col-md-4">
                                    <select class="search form-control" name="search_app" id="search_app" form-control">
                                        {% for a in app %}
                                          <option value="{{a.id}}">{{a.name}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>

                                  <div class="col-md-4">
                                    <select class="search form-control" name="search_type" id="search_type" form-control">
                                        {% for v, s in type %}
                                          <option value="{{v}}">{{s}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>

                                  <div class="col-md-4 input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control" type="text" name="daterange" value="01/01/2020 - 01/02/2020" />
                                  </div>

                                  <div class="col-md-4">
                                    <select class="search form-control" name="search_source" id="search_source">
                                        {% for v,s in source %}
                                          <option value="{{v}}">{{s}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                  <br><br>
                                  <div class="col-md-12">
                                    <button type="submit" class="btn btn-block btn-outline btn-primary">Search</button>
                                  </div>
                                </form>
                              </div>
                            </div>

                            <div>
                              <br>
                              <br>
                              Total items:
                              <strong>{{ count.count }}</strong>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>App</th>
                                            <th>Type</th>
                                            <th>Creation date</th>
                                            <th>End date</th>
                                            <th>Source</th>
                                            {% if perms.extra_incidents.view_extra_incident_detail %}
                                              <th>Detail</th>
                                            {% endif %}

                                            {% if perms.extra_incidents.finalize_extra_incident %}
                                              <th>Action</th>
                                            {% endif %}

                                            <th>Status</th>

                                            {% if user.is_superuser %}
                                                <th>Created</th>
                                                <th>User </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for inc in extra_incident_list %}
                                            <tr>
                                                <td>{{ inc.title }}</td>
                                                <td>{{ inc.application }}</td>
                                                <td>{{ inc.type }}</td>
                                                <td>{{ inc.created }}</td>
                                                <td>
                                                  {% if inc.finalized or inc.closed %}
                                                    {{ inc.end_date }}
                                                  {% endif %}
                                                </td>
                                                <td>{{ inc.inc_source }}</td>

                                                {% if perms.extra_incidents.view_extra_incident_detail %}
                                                  <td>
                                                    <a type="button" class="btn btn-xs btn-info" href="{% url 'extra_incidents:detail' inc.id %}">Info</a>
                                                  </td>
                                                {% endif %}

                                                <td align="center">

                                                  {% if perms.extra_incidents.update_extra_incident %}
                                                    {% if not inc.finalized %}
                                                      <a href="{% url 'extra_incidents:update' inc.id %}"><i class="fa fa-pencil-square-o"></i></a>
                                                    {% endif %}
                                                  {% endif %}

                                                  <br><br>

                                                  {% if perms.extra_incidents.finalize_extra_incident %}
                                                      {% if not inc.finalized %}
                                                        <button data-id="{{inc.id}}" class="btn btn-default btn-circle finalize" type="button"><i class="fa fa-check"></i>
                                                        </button>
                                                      {% endif %}
                                                    {% endif %}
                                                </td>

                                                <td>
                                                  {% if inc.finalized %}
                                                    <span class="label label-success">
                                                        finalized
                                                    </span>
                                                  {% else %}
                                                  {% endif %}
                                                </td>

                                                {% if user.is_superuser %}
                                                  <th>{{ inc.created }} </th>
                                                  <th>{{ inc.user }} </th>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <div class="paginator">
                                    {% if extra_incident_list.has_other_pages %}
                                        <ul class="pagination">
                                          {% if extra_incident_list.has_previous %}
                                              <li class="page-item active">
                                                <a class="page-link" href="?page={{ extra_incidents.previous_page_number }}" tabindex="-1">Previous</a>
                                              </li>
                                          {% else %}
                                              <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1" href="#">&raquo;</a>
                                              </li>
                                          {% endif %}

                                          {% for x in extra_incident_list.paginator.page_range %}
                                              {% if extra_incident_list.number == x %}
                                                  <li class="page-item active">
                                                    <a class="page-link" href="#">{{x}}
                                                      <span class="sr-only">(current)</span>
                                                    </a>
                                                  </li>
                                              {% else %}
                                                  <li class="page-item"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                              {% endif %}
                                          {% endfor %}

                                          {% if extra_incident_list.has_next %}
                                              <li class="page-item">
                                                <a class="page-link" href="?page={{extra_incident_list.next_page_number}}">Next</a>
                                              </li>
                                          {% else %}
                                              <li class="page-item disabled">
                                                <a class="page-link" href="#">&raquo;</a>
                                              </li>
                                          {% endif %}
                                        </ul>
                                    {% endif %}
                                    <div>
                                      Total items:
                                      <strong>{{ count.count }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <!-- FooTable -->
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>
    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <script>

        $(document).ready(function(){
          /*
          var search = $('#search');

          search.addEventListener('keypress', function(e){
            if(e.keyCode==13){

            }
          });*/

          $('.finalize').click(function(){
            var id = $(this).data('id');
            swal({
                    title: "Finalize it?",
                    text: "This incident will close definitly",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, finalize it!",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false,
                    closeOnCancel: false },
                function (isConfirm) {
                    if (isConfirm) {
                        swal({
                            title: "{{ inc_number }}",
                            text: "{{ success_msg }}",
                            type: "success",
                            showConfirmButton: false,
                        });

                        if(id){

                          $.ajax({
                            url: "{% url 'extra_incidents-api-v1:finalize' %}",
                            type: 'json',
                            method: 'post',
                            data: {
                              "id": id,
                              "flag": 1,
                            },
                            beforeSend: function(xhr, settings) {
                                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                    // Only send the token to relative URLs i.e. locally.
                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                }
                            },
                            success: function(data){
                              if(data.success){
                                console.log('success, redirect now')
                                window.location.href="/extra_incidents/list/";
                              }
                            },
                            error: function(data){
                              console.log('Error: ', data.message);
                            }
                          });
                        }else{
                          conso.e.log('No id identified..');
                        }

                    } else {
                        swal("Cancelled", "Incident won´t be erased", "error");
                    }
                });
          });

          //bbb not exist. In progress
          $('.bbb').click(function(){

              var id = $(this).data('id');
              console.log(id);


              $.ajax({
                url: "{% url 'extra_incidents-api-v1:finalize' %}",
                type: 'json',
                method: 'post',
                data: {
                  "id": id,
                },
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                },
                success: function(data){
                  if(data.success){
                    ShowModal(data.title, data.message, '', data.button);
                  }
                },
                error: function(data){
                  console.log('Error: ', data.message);
                }
              });
          });

          //------------------SEARCH FILTER-------------------------
          var search_btn = $('#search_btn');
          var search_form = $('search_form');
          var app = $('#search_app');
          var type = $('#search_type');
          var source = $('#search_source');
          var datepicker = $('input[name="daterange"]');


          search_btn.click(function(){

            $('#div_form').toggle(200);
            app.val(null).trigger('change');
            type.val(null).trigger('change');
            source.val(null).trigger('change');
            datepicker.val('01/01/2020 - 01/02/2020');
          });


          app.select2({
            placeholder: "Select an app",
            allowClear: true
          });
          type.select2({
            placeholder: "Select reg type",
            allowClear: true
          });
          source.select2({
            placeholder: "Select the source",
            allowClear: true
          });

          datepicker.daterangepicker({
            locale: {
              format: 'YYYY-MM-DD'
            }
          });
          //daterange.prop('disabled', true);
          //------------------SEARCH FILTER-------------------------

        });
    </script>
{% endblock %}
