{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Extra Incident List
{% endblock %}

{% block extracss %}
  <!-- FooTable -->
  <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="container">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{message}}.
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> Incidents List </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                              <div class="col-sm-9 m-b-xs">
                                <form action="#" method=POST>
                                  <input id="search" type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
                                </form>
                              </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>App</th>
                                            <th>Type</th>
                                            <th>Exec date</th>
                                            <th>End date</th>
                                            <th>Source</th>

                                            {% if user.is_superuser %}
                                                <th>Created</th>
                                                <th>User </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for inc in extra_incident_list %}
                                            <tr>
                                                <td>{{ inc.inc_number|default:"N/A" }}</td>
                                                <td>{{ inc.application }}</td>
                                                <td>{{ inc.type }}</td>
                                                <td>{{ inc.exec_date }}</td>
                                                <td>{{ inc.end_date }}</td>
                                                <td>{{ inc.inc_source }}</td>
                                                <td>
                                                  <button type="button" class="btn btn-xs btn-info">Info</button>
                                                </td>

                                                {% if user.is_superuser %}
                                                  <th>{{ inc.created }} </th>
                                                  <th>{{ inc.user }} </th>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <div class="paginator">
                                    {% if extra_incident_list.has_other_pages %}
                                        <ul class="pagination">
                                          {% if extra_incident_list.has_previous %}
                                              <li class="page-item active">
                                                <a class="page-link" href="?page={{ extra_incidents.previous_page_number }}" tabindex="-1">Previous</a>
                                              </li>
                                          {% else %}
                                              <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1" href="#">&raquo;</a>
                                              </li>
                                          {% endif %}

                                          {% for x in extra_incident_list.paginator.page_range %}
                                              {% if extra_incident_list.number == x %}

                                                  <li class="page-item active">
                                                    <a class="page-link" href="#">{{x}}
                                                      <span class="sr-only">(current)</span>
                                                    </a>
                                                  </li>
                                              {% else %}
                                                  <li class="page-item"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                              {% endif %}
                                          {% endfor %}

                                          {% if extra_incident_list.has_next %}
                                              <li class="page-item">
                                                <a class="page-link" href="?page={{extra_incident_list.next_page_number}}">Next</a>
                                              </li>
                                          {% else %}
                                              <li class="page-item disabled">
                                                <a class="page-link" href="#">&raquo;</a>
                                              </li>
                                          {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
    <!-- FooTable -->
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>

        $(document).ready(function(){

          

          var search = $('#search');

          search.addEventListener('keypress', function(e){
            if(e.keyCode==13){

            }
          });

        });

    </script>
{% endblock %}
