{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Bajas Semanales
{% endblock %}

{% block extracss %}
  <!-- FooTable -->
  <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
  <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success">
                      {{message}}.
                  </div>
              {% endfor %}
          {% endif %}

          <div class="row">
              <div class="col-lg-12">
                  <div class="wrapper wrapper-content animated fadeInUp">
                      <div class="ibox-title">
                          <h5> Bajas Semanales </h5>
                          <div class="ibox-tools">
                              <a class="collapse-link">
                                  <i class="fa fa-chevron-up"></i>
                              </a>
                          </div>
                      </div>
                      <div class="ibox-content">
                          <br><br>
                          <form method="get">
                              <!--<div class="form-group">
                                <label>Paginate by</label>
                                <br>
                                <select class="col-sm-2" id="s_pagination" name="s_pagination">
                                          <option>option 1</option>
                                          <option>option 2</option>
                                          <option>option 3</option>
                                          <option>option 4</option>
                                </select>
                              </div>-->
                              <div class="form-group col-md-4">
                                {{bajas_filter.form.type}}
                              </div>
                              <div class="form-group col-md-4">
                                {{bajas_filter.form.subject}}
                              </div>
                              <div class="form-group col-md-4">
                                {{bajas_filter.form.user_code}}
                              </div>
                              <div class="form-group col-md-4">
                                {{bajas_filter.form.user_name}}
                              </div>
                              <div class="form-group col-md-4">
                                {{bajas_filter.form.request_date}}
                              </div>
                              <div class="form-group col-md-4">
                                {{bajas_filter.form.created_date}}
                              </div>
                              <div class="form-group col-md-4">
                                {{bajas_filter.form.already_checked}}
                              </div>
                              <div class="form-group col-md-8">
                              </div>
                              <div class="form-group col-md-8">
                              </div>
                              <div class="form-group col-md-8">
                              </div>
                              <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-block btn-outline btn-success">Search</button>
                              </div>
                          </form>
                          <br>
                          <br>
                          Total items:
                          <strong>{{ bajas_filter.qs.count }}</strong>

                          <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>Type</th>
                                          <th>Subject</th>
                                          <th>User ID</th>
                                          <th>User name </th>
                                          <th>Request Date</th>
                                          <th>Created</th>
                                          <th>Created by</th>
                                          <th>Applications</th>
                                          <th>Update</th>
                                          <th>Checked</th>
                                          <th>Last user update</th>
                                          {% if user.is_superuser %}
                                            <th>User</th>
                                          {% endif %}
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for b in bajas %}
                                          <tr>
                                              <td>{{ b.type }}</td>
                                              <td>{{ b.subject }}</td>
                                              <td>{{ b.user_code }}</td>
                                              <td>{{ b.user_name }}</td>
                                              <td>{{ b.request_date }}</td>
                                              <td>{{ b.created_date }}</td>
                                              <td>{{ b.user }}</td>
                                              <td>
                                                {% for a in b.application.all %}
                                                  {{ a }}&nbsp;
                                                {% endfor %}
                                              </td>
                                              <td>
                                                {% if b.already_checked is False %}
                                                  <a href="#" class="btn btn-outline btn-success dim btn-update" type="button" data-id="{{ b.id }}">
                                                    <i class="fa fa-gear"></i>
                                                  </a>
                                                {% endif %}
                                              </td>
                                              <td align="center">
                                                <a href="#">
                                                  {% if b.already_checked is True  %}
                                                    <i class="fa fa-check"></i>
                                                  {% endif %}

                                                  {% if b.already_checked is False %}
                                                    <i class="fa fa-times"></i>
                                                  {% endif %}
                                                </a>
                                              </td>
                                              <td>
                                                {% if not b.last_user_update %}
                                                  N/A
                                                {% else %}
                                                  {{ b.last_user_update }}
                                                {% endif %}
                                              </td>
                                              {% if user.is_superuser %}
                                                <td>{{ b.user }}</td>
                                              {% endif %}
                                          </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>

                              <!--PAGINATOR BEGINS-->
                              <div class="paginator">
                                  {% if bajas.has_other_pages %}
                                      <ul class="pagination">
                                        {% if bajas.has_previous %}
                                            <li class="page-item active">
                                              <a class="page-link" href="?page={{ bajas.previous_page_number }}" tabindex="-1">Previous</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link" tabindex="-1" href="#">&raquo;</a>
                                            </li>
                                        {% endif %}

                                        {% for x in bajas.paginator.page_range %}
                                            {% if bajas.number == x %}
                                                <li class="page-item active">
                                                  <a class="page-link" href="#">{{x}}
                                                    <span class="sr-only">(current)</span>
                                                  </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if bajas.has_next %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{bajas.next_page_number}}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link" href="#">&raquo;</a>
                                            </li>
                                        {% endif %}
                                      </ul>
                                  {% endif %}
                                  <div>

                                    Total items:
                                    <strong>{{ bajas_filter.qs.count }}</strong>
                                  </div>
                              </div>
                              <!--PAGINATOR ENDS-->
                          </div>


                          <!--MODAL START-->
                          <div class="modal inmodal" id="modal_update" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content animated fadeIn">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                          <h4 id="modal_title" class="modal-title">Recheck Baja Semanal</h4>
                                          <small id="modal_little_desc" class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                                      </div>
                                      <form action="#" id="modal_form">{% csrf_token %}
                                          <div id="modal_body" class="modal-body">
                                              <div class="form-group">
                                                <label>Type</label>
                                                <select class="form-control js-data-example-ajax" id="s_type" name="type" style="width: 100%">
                                                </select>
                                              </div>

                                              <div class="form-group">
                                                <label>Subject</label>
                                                <input type="text" id="subject_input" name="subject" required placeholder="Subject" class="form-control">
                                              </div>

                                              <div class="form-group">
                                                 <label>User ID</label>
                                                 <input type="text" id="user_code_input" name="user_code" required placeholder="User ID" class="form-control">
                                              </div>

                                              <div class="form-group">
                                                 <label>Username</label>
                                                 <input type="text" id="user_name_input" name="user_name" required placeholder="Username" class="form-control">
                                              </div>

                                             <div class="form-group">
                                                 <label>Request date</label>
                                                 <input type="date" id="request_date_input" name="request_date" class="form-control">
                                             </div>

                                            <div class="form-group">
                                                 <label>Applications</label>
                                                  <select class="form-control " multiple="multiple" id="s_application" name="application" style="width: 100%"></select>
                                            </div>
                                          </div>
                                          {{form.as_p}}

                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                              <button type="button" id="btn_modal_save" data-id="" class="btn btn-primary">Save changes</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                          <!--MODAL ENDS-->
                      </div>
                  </div>
              </div>
              <!--FILTER LIST BEGGINS-->
              <!--<div class="col-lg-3">
                  <div class="wrapper wrapper-content animated fadeInUp">
                      <div class="ibox-title">
                          <h5>Filter</h5>
                      </div>
                      <div class="ibox-content">
                          <form method="get">
                              <button type="submit" class="btn btn-block btn-outline btn-success">Filter!</button>
                              <br><br>

                              <div class="form-group">
                                {{bajas_filter.form.type}}
                              </div>
                              <div class="form-group">
                                {{bajas_filter.form.subject}}
                              </div>
                              <div class="form-group">
                                {{bajas_filter.form.user_code}}
                              </div>
                              <div class="form-group">
                                {{bajas_filter.form.user_name}}
                              </div>
                              <div class="form-group">
                                <label>Request Date</label>
                                {{bajas_filter.form.request_date}}
                              </div>
                              <div class="form-group">
                                <label>Created Date</label>
                                {{bajas_filter.form.created_date}}
                              </div>
                              <div class="form-group">
                                <label>Checked</label>
                                {{bajas_filter.form.already_checked}}
                              </div>
                          </form>
                      </div>
                  </div>
            </div>-->
            <!--FILTER LIST ENDS-->
    </div>
{% endblock %}

{% block extrajs %}
    <!-- FooTable -->
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>
    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <script>

        $(document).ready(function(){

          var btn_update = $('.btn-update');

          var modal_update = $('#modal_update');
          var modal_title = $('#modal_title');
          var modal_little_desc = $('#modal_little_desc');
          var modal_body = $('#modal_body');
          var btn_modal_save = $('#btn_modal_save');

          var s_type = $('#s_type');
          var subject_input = $('#subject_input');
          var user_code_input = $('#user_code_input');
          var user_name_input = $('#user_name_input');
          var request_date_input = $('#request_date_input');
          var s_app = $('#s_application');


          //---FILTER ATTR FDIELD DEFINITIONS---
          $('#id_type').addClass('form-control');
          $('#id_subject').addClass('form-control');
          $('#id_subject').attr('placeholder', 'Subject');
          $('#id_user_code').addClass('form-control');
          $('#id_user_code').attr('placeholder', 'User ID');
          $('#id_user_name').addClass('form-control');
          $('#id_user_name').attr('placeholder', 'Name');
          $('#id_request_date').addClass('form-control');
          $('#id_created_date').addClass('form-control');
          $('#id_already_checked').addClass('form-control');
          $('#id_already_checked').attr('placeholder', 'User ID');


          $('#id_already_checked').select2(
            {
              allowClear: true,
              placeholder: 'Already checked'
            });
            $('#id_type').select2(
              {
                allowClear: true,
                placeholder: 'Type'
              });
          //---FILTER ATTR FDIELD DEFINITIONS---


          //GET BAJASEMANAL IN MODAL
          btn_update.on('click', function(){
            var id = $(this).data("id");
            //Passing id record to Save Changes modal btn for post method.
            btn_modal_save.data('id', id)

            $.ajax({
              url: "{% url 'bajas-semanales-api-v1:recheck_baja' %}",
              dataType: 'json',
              method: 'get',
              data: {
                "id": id
              },
              success: function(data){
                if(data.success){

                  $.each(data.baja_semanal, function(index, item){
                    modal_title.empty().html(item.type);
                    modal_little_desc.empty().html(item.subject);


                    subject_input.empty().val(item.subject);
                    user_code_input.empty().val(item.user_code);
                    user_name_input.empty().val(item.user_name);
                    request_date_input.empty().val(item.request_date);
                  });

                  s_type.empty();
                  $.each(data.tipo_bajas, function(index, item){
                    if(item.selected == true){
                      s_type.append('<option value="'+ item.id +'" selected="selected">'+ item.text +'</option>');
                    } else {
                      s_type.append('<option value="'+ item.id +'">'+ item.text +'</option>');
                    }
                  });
                  //NO TRABAJA CORRECTAMENTE CARGANDOLE EL SELECT2
                  //s_type.empty().trigger('change');
                  /*$.map(data.tipo_bajas, function(obj){
                    if(obj.selected == true){
                      var newOption = new Option(obj.text, obj.id, true, true);
                      console.log(obj.text, ' - ', newOption);
                      s_type.append(newOption).trigger('change');
                    } else {
                      var newOption = new Option(obj.text, obj.id, false, false);
                      console.log('Else: ', obj, ' - ', newOption);
                      s_app.append(newOption);
                    }
                  });*/

                  s_app.empty().trigger("change");
                  $.each(data.results, function(index, item){

                     if(item.selected == true){
                         var newOption = new Option(item.text, item.id, true, true);
                         s_app.append(newOption).trigger('change');
                     }
                     if(item.selected == false){
                       var newOption = new Option(item.text, item.id, false, false);
                       s_app.append(newOption);
                     }
                  });

                  modal_update.modal('show');
                } else {
                  console.log('Msg: ', data.message);
                }
              },
              error: function(data){
                console.log('Error to try to get recheck data modal: ', data);
              }
            });
          });

          modal_update.on('show.bs.modal', function() {
            s_app.select2({dropdownParent: modal_update});
            console.log('show');
          })
          modal_update.on('hidden.bs.modal', function() {
            s_app.select2('destroy');
          })

          //POST BAJASEMANAL IN MODAL
          btn_modal_save.click(function(e){

            e.preventDefault();
            $.ajax({
              url: "{% url 'bajas-semanales-api-v1:recheck_baja' %}",
              method: 'post',
              dataTye: 'json',
              data: {
                "id": $(this).data('id'),
                "type": s_type.val(),
                "subject": subject_input.val(),
                "user_code": user_code_input.val(),
                "user_name": user_name_input.val(),
                "request_date": request_date_input.val(),
                "application": s_app.val(),
              },
              beforeSend: function(xhr, settings) {
                  if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                      // Only send the token to relative URLs i.e. locally.
                      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                  }
              },
              success: function(data){
                if(data.success){
                  var txt = '';
                  if(data.current_detail_status == true) {
                    txt = data.already_checked
                  } else {
                    txt = data.updated
                  }
                  swal({
                      title: data.updated,
                      text: txt,
                      type: "success",
                      showConfirmButton: false,
                  });
                  setTimeout(function(data){
                    window.location.href="/bajas/list/";
                  }, 800);
                } else {
                  console.log('Error: ', data.message);
                }
              },
              error: function(data){
                console.log('Error: ', data);
              },
            });
            console.log('prevent modal');
          });


          //FINALIZE BajaSemenal
          $('.finalize').click(function(){
            var id = $(this).data('id');
            swal({
                    title: "Finalize it?",
                    text: "This incident will close definitly",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, finalize it!",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false,
                    closeOnCancel: false },
                function (isConfirm) {
                    if (isConfirm) {
                        swal({
                            title: "{{ inc_number }}",
                            text: "{{ success_msg }}",
                            type: "success",
                            showConfirmButton: false,
                        });

                        if(id) {
                            $.ajax({
                              url: "{% url 'extra_incidents-api-v1:finalize' %}",
                              type: 'json',
                              method: 'post',
                              data: {
                                "id": id,
                                "flag": 1,
                              },
                              beforeSend: function(xhr, settings) {
                                  if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                      // Only send the token to relative URLs i.e. locally.
                                      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                  }
                              },
                              success: function(data){
                                if(data.success){
                                  window.location.href="/extra_incidents/list/";
                                }
                              },
                              error: function(data){
                                console.log('Error: ', data.message);
                              }
                            });
                        } else {
                          conso.e.log('No id identified..');
                        }

                    } else {
                        swal("Cancelled", "Incident won´t be erased", "error");
                    }
                });
          });


        });
    </script>
{% endblock %}
