{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
        {{current_ticket.folio_number}} Detail
{% endblock %}

{% block content %}
    {% if ticket_detail %}
            
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <!--<a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>-->
                                    <h2><strong>{{ current_ticket.folio_number }}</strong> Activities</h2>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>Status:</dt>
                                    <dd>
                                            {% if current_ticket.status == 'open' %}
                                                    <span class="label label-primary">Active</span>
                                                {% elif current_ticket.status == 'in progress' %}
                                                    <span class="label label-primary">Active</span>
                                                {% elif current_ticket.status == 'pending' %}
                                                    <span class="label label-primary">Active</span>
                                                {% elif current_ticket.status == 'assigned' %}
                                                    <span class="label label-primary">Active</span>
                                                {% elif current_ticket.status == 'provider approval proccess' %}
                                                        <span class="label label-primary">Active</span>
                                                {% elif current_ticket.status == 'closed' %}
                                                        <span class="label label-danger">Closed</span>
                                                {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">

                                    <dt>Created by:</dt> <dd>{{current_ticket.user.first_name}} {{ current_ticket.user.last_name }}</dd>
                                    <dt>Activity messages:</dt> <dd> {{ticket_detail.count}} </dd>
                                    <dt>Application:</dt> <dd><a href="#" class="text-navy"> {{ current_ticket.application }}</a> </dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal" >

                                    <dt>Last Updated:</dt> <dd>{{ last_updated.registry_date }}</dd>
                                    <dt>Created:</dt> <dd> 	{{ current_ticket.registry_date }} </dd>
                                    <!--
                                    <dt>Participants:</dt>
                                    <dd class="project-people">
                                        
                                        {% for u in ticket_detail %}
                                            <a href="#">
                                            {{ u.user.first_name }}
                                            </a>
                                        {% endfor %}
                                    -->

                                    <!--
                                    <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                                    -->
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt>Completed:</dt>
                                    <dd>
                                        <div class="progress progress-striped active m-b-sm">
                                            <div style="width: 60%;" class="progress-bar"></div>
                                        </div>
                                        <small>Project completed in <strong>60%</strong>. Remaining close the project, sign a contract and invoice.</small>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        -->
                        
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                            <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab-1" data-toggle="tab">Users messages</a></li>
                                        <!--<li class=""><a href="#tab-2" data-toggle="tab">Last activity</a></li>-->
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">

                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1">
                                        <div class="feed-activity-list" style="overflow-y: auto; height: 600px;">

                                            {% for detail in ticket_detail %}

                                                    <div class="feed-element">
                                                    <a href="#" class="pull-left">
                                                            <img alt="image" class="img-circle" src="{% static 'img/user.png' %}">
                                                    </a>
                                                    <div class="media-body ">
                                                            <small class="pull-right">
                                                            <!--2h ago-->
                                                                {{ticket_detail.registry_date|timesince}}
                                                            </small>
                                                            <strong>
                                                                {% if detail.user.first_name %}
                                                                    {{detail.user.first_name|capfirst}} {{detail.user.last_name|capfirst}}
                                                                {% else %}
                                                                    {{detail.user.username}}
                                                                {% endif %}
                                                            </strong> posted a message. <br>
                                                            <small class="text-muted">{{ detail.registry_date }} </small>
                                                            <div class="well">
                                                                    {{detail.summary}}
                                                            </div>
                                                    </div>
                                                    </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="tab-2">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Comments</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Create project in webapp
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                <p class="small">
                                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    Various versions
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    There are many variations
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    Latin words
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Latin words, combined with a handful of model sentence structures
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    The generated Lorem
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    The first line
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    The standard chunk
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Lorem Ipsum is that
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    Contrary to popular
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                                    </p>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                <h4>Ticket description</h4>
                <!--<img src="img/zender_logo.png" class="img-responsive">-->
                <p class="small">
                    {{current_ticket.description}}
                </p>
                <p class="small font-bold">
                    <span>
                    {% if current_ticket.priority == 'low' %}
                        <i class="fa fa-circle text-info"></i> Low priority
                    {% elif current_ticket.priority == 'mid' %}
                        <i class="fa fa-circle text-warning"></i> Mid priority
                    {% elif current_ticket.priority == 'high' %}
                        <i class="fa fa-circle text-danger"></i> High priority
                    {% endif %}
                    </span>
                </p>

                <ul class="tag-list" style="padding: 0">
                    <li><a href=""><i class="fa fa-tag"></i> {{current_ticket.application|capfirst}}</a></li>
                </ul>
                <h5>Aditional files</h5>
                <ul class="list-unstyled project-files">
                    <li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
                    <li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
                    <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
                    <li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
                </ul>
                <div class="text-left m-t-md">
                    <a href="#" class="btn btn-xs btn-primary">Add files</a>
                </div>
            </div>
        </div>

    {% else %}
            <h1>No Detail registered.</h1>
    {% endif %}
    
{% endblock %}