{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Application List
{% endblock %}

{% block content %}
    <div class="gray-bg" style="min-height: 1962.7px;">
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-success">
                    {{message}}.
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            {% if perms.application.view_application_list %}
            <div class="col-xs-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>VOI Documentation</h2>
                        <span>Blogs y documentos para soporte T-II</span>
                    </div>
                </div>

                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total docs: {{total_docs}}</samll>
                        </div>
                        <h3>General subjects</h3>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-newspaper-o"></i>
                                </div>
                                <a href="{% url 'wiki_module:blog_doc_list' %}" class="forum-item-title">Blog Docs</a>
                                <div class="forum-sub-title">Blog for small references and troubleshooting guides.</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    {{ total_blog_docs_views }}
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    XXX
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    {{total_blog_docs}}
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Apps Articles</a>
                                <div class="forum-sub-title">Articles about application administration.</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    {{total_articles_views}}
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    XXXX
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    {{total_articles}}
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Iterfaces</a>
                                <div class="forum-sub-title">Interfaces and apps structures. </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    890
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    120
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    154
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Procecess</a>
                                <div class="forum-sub-title">Procecess. </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    680
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    124
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    61
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Account Resets</a>
                                <div class="forum-sub-title">Reseteo de cuentas para aplicativos. </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    1450
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    652
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    572
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">ABC</a>
                                <div class="forum-sub-title">Altas-Bajas-Cambios. </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    890
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    120
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    154
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total posts: 17,800,600</samll>
                        </div>
                        <h3>Other subjects</h3>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Lorem Ipsum is simply dummy text. </a>
                                <div class="forum-sub-title">Various versions have evolved over the years, sometimes by accident, sometimes on purpose passage of Lorem Ipsum (injected humour and the like).</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    1516
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    238
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    180
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bomb"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">There are many variations of passages</a>
                                <div class="forum-sub-title"> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the . </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    1766
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    321
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    42
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">The standard chunk of Lorem Ipsum</a>
                                <div class="forum-sub-title">Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    765
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    90
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    11
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-ambulance"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Lorem Ipsum, you need to be sure there</a>
                                <div class="forum-sub-title">Internet tend to repeat predefined chunks as necessary, making this the</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    2550
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    122
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    92
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
            {% endif %}

    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <script>

        $(document).ready(function(){
            $('.table').DataTable({
                pageLength: 10,
                responsive: true,
                /*dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {
                        extend: 'copy'
                    },
                    {
                        extend: 'csv', title: 'History'
                    },
                ]*/

            });


        });

    </script>
{% endblock %}
